<div class="mx-auto">
  <h1 class='mb-12'>Add a new Assessment</h1>
  <%= simple_form_for @assessment do |f| %>
    <%= render "shared/error_messages", resource: f.object %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :assessment_type, collection: %w[Quiz Test Exam Project Essay], include_blank: true, hint: 'Select assessment type'  %>
    <% if @syllabus %>
      <%= f.hidden_field :subject_id, value: @syllabus.subject.id %>
    <% else %>
      <%= f.input :subject_id, collection: Subject.all, include_blank: true, hint: 'Select a subject' %>
    <% end %>
    <%= f.hidden_field :teacher_id, value: current_user.id %>
    <%= f.input :unit_id, collection: @units  %>
    <%= f.hint 'Select a weight between 0 and 1 (calculated as percentage of unit total)' %>
    <%= f.input :weight, as: :decimal %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
