<div class="flex justify-between">
  <h1>Assessments</h1>
</div>
<hr class="w-full my-6">
<div class="grid grid-cols-3 gap-6">
  <h2 class="col-span-3">Quizzes</h2>
  <% @quizzes.each do |assessment| %>
    <div class=" flex flex-col justify-between border border-gray-300 rounded-xl overflow-hidden ">
      <div class="py-4 px-6  border border-b-gray-100 flex-grow">
        <div class="flex">
          <div class="bg-violet-700 h-12 w-12 rounded-lg flex">
            <%= render_svg 'icons/grades-plus-minus', styles: "text-violet-200 h-6 w-6 m-3" %>
          </div>
          <div class = "h-24 ml-4 mb-2">
            <h2 class="text-violet-700 text-lg font-bold mb-1"><%=assessment.title.truncate(40)%></h2>
            <p class="text-orange-500 text-base font-bold"><%= assessment.assessment_type %></p>
          </div>
        </div>
        <div class="py-4">
          <p class= "text-gray-500"><%= assessment.description.truncate(80) %></p>
        </div>
      </div>
      <div class="flex flex-row-reverse bg-violet-50 py-4 pr-6">
        <%= link_to "View assessment", assessment_path(assessment), class: 'text-violet-700 text-lg font-bold'%>
      </div>
    </div>
  <% end %>
  <h2 class="col-span-3">Tests</h2>
  <% @tests.each do |assessment| %>
    <div class="border border-gray-300 rounded-xl overflow-hidden ">
      <div class="py-4 px-6  border border-b-gray-100">
        <div class="flex">
          <div class="bg-violet-700 h-12 w-12 rounded-lg flex">
            <%= render_svg 'icons/grades-plus-minus', styles: "text-violet-200 h-6 w-6 m-3" %>
          </div>
          <div class = "h-24 ml-4 mb-2">
            <h2 class="text-violet-700 text-lg font-bold mb-1"><%=assessment.title.truncate(40)%></h2>
            <p class="text-orange-500 text-base font-bold"><%= assessment.assessment_type %></p>
          </div>
        </div>
        <div class="py-4">
          <p class= "text-gray-500"><%= assessment.description.truncate(80) %></p>
        </div>
      </div>
      <div class="flex flex-row-reverse bg-violet-50 py-4 pr-6">
        <%= link_to "View assessment", assessment_path(assessment), class: 'text-violet-700 text-lg font-bold'%>
      </div>
    </div>
  <% end %>
  <h2 class="col-span-3">Projects</h2>
  <% @projects.each do |assessment| %>
    <div class="border border-gray-300 rounded-xl overflow-hidden ">
      <div class="py-4 px-6  border border-b-gray-100">
        <div class="flex">
          <div class="bg-violet-700 h-12 w-12 rounded-lg flex">
            <%= render_svg 'icons/grades-plus-minus', styles: "text-violet-200 h-6 w-6 m-3" %>
          </div>
          <div class = "h-24 ml-4 mb-2">
            <h2 class="text-violet-700 text-lg font-bold mb-1"><%=assessment.title.truncate(40)%></h2>
            <p class="text-orange-500 text-base font-bold"><%= assessment.assessment_type %></p>
          </div>
        </div>
        <div class="py-4">
          <p class= "text-gray-500"><%= assessment.description.truncate(80) %></p>
        </div>
      </div>
      <div class="flex flex-row-reverse bg-violet-50 py-4 pr-6">
        <%= link_to "View assessment", assessment_path(assessment), class: 'text-violet-700 text-lg font-bold'%>
      </div>
    </div>
  <% end %>
  <h2 class="col-span-3">Essays</h2>
  <% @essays.each do |assessment| %>
    <div class="border border-gray-300 rounded-xl overflow-hidden ">
      <div class="py-4 px-6  border border-b-gray-100">
        <div class="flex">
          <div class="bg-violet-700 h-12 w-12 rounded-lg flex">
            <%= render_svg 'icons/grades-plus-minus', styles: "text-violet-200 h-6 w-6 m-3" %>
          </div>
          <div class = "h-24 ml-4 mb-2">
            <h2 class="text-violet-700 text-lg font-bold mb-1"><%=assessment.title.truncate(40)%></h2>
            <p class="text-orange-500 text-base font-bold"><%= assessment.assessment_type %></p>
          </div>
        </div>
        <div class="py-4">
          <p class= "text-gray-500"><%= assessment.description.truncate(80) %></p>
        </div>
      </div>
      <div class="flex flex-row-reverse bg-violet-50 py-4 pr-6">
        <%= link_to "View assessment", assessment_path(assessment), class: 'text-violet-700 text-lg font-bold'%>
      </div>
    </div>
  <% end %>
  <h2 class="col-span-3">Exams</h2>
  <% @exams.each do |assessment| %>
    <div class="border border-gray-300 rounded-xl overflow-hidden ">
      <div class="py-4 px-6  border border-b-gray-100">
        <div class="flex">
          <div class="bg-violet-700 h-12 w-12 rounded-lg flex">
            <%= render_svg 'icons/grades-plus-minus', styles: "text-violet-200 h-6 w-6 m-3" %>
          </div>
          <div class = "h-24 ml-4 mb-2">
            <h2 class="text-violet-700 text-lg font-bold mb-1"><%=assessment.title.truncate(40)%></h2>
            <p class="text-orange-500 text-base font-bold"><%= assessment.assessment_type %></p>
          </div>
        </div>
        <div class="py-4">
          <p class= "text-gray-500"><%= assessment.description.truncate(80) %></p>
        </div>
      </div>
      <div class="flex flex-row-reverse bg-violet-50 py-4 pr-6">
        <%= link_to "View assessment", assessment_path(assessment), class: 'text-violet-700 text-lg font-bold'%>
      </div>
    </div>
  <% end %>
</div>
