<div class="mx-auto">
  <h1 class='mb-12'>Add a new Assessment Instrument</h1>
  <%= simple_form_for @assessment do |f| %>
    <%= render "shared/error_messages", resource: f.object %>
    <%= f.input :date, as: :date %>
    <%= f.input :instrument_id do %>
      <%= f.collection_select :instrument_id, Instrument.all, :id, :title, include_blank: true  %>
    <% end %>
    <%= f.input :unit_id do %>
      <%= f.collection_select :unit_id, Unit.all, :id, :name, include_blank: true  %>
    <% end %>
    <%= f.input :unit_weight, as: :decimal %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
