<div id="vue-chart">
  <div class="my-4 p-4 ">
    <div class="flex justify-between mb-10">
      <div>
        <h1 class="text-gray-800 text-4xl"><%=@assessment.title%></h1>
        <p class= "text-gray-600 mt-2 ">Syllabus: <%= @assessment.syllabus.title%></p>
      </div>
    </div>
    <div  class="grid grid-cols-5 gap-2" >
      <div class="px-8 mt-8 col-span-5">
        <h2 class=>Assessment performance by course</h2>
        <% if @bar_chart_data.nil? %>
          <h3>This assessment has no grade data yet</h3>
        <% else %>
          <bar-chart :prop-data="<%= @bar_chart_data.to_json %>" :courses="<%= @courses.to_json %>" :current="<%= @courses.last[:id] %>"></bar-chart>
        <% end %>
      </div>
    </div>
  </div>
</div>
