<div id="vue-chart">
  <div class="my-4 py-4 px-4 ">
    <div class="flex justify-between">
      <h3 class="text-gray-900">Cohort <%=@cohort.name%></h3>
      <div class="">
        <cohort-drop-down :cohorts="<%= @cohorts.to_json %>" :current="<%= @cohorts.find_index({id: @cohort.id, title: @cohort.name})%>"></cohort-drop-down>
      </div>
    </div>
    <div class="mt-8 ">
      <div class="sm:flex flex-row-reverse sm:items-center">
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none sm:-mb-56">
          <%= link_to 'Register new course', new_cohort_course_path(@cohort), class: "btn btn-primary" %>
          <%= link_to 'Add student', new_cohort_student_profile_path(@cohort), class: "btn btn-secondary ml-2" %>
        </div>
      </div>
      <div class="mt-8" >
        <easy-table :headers='<%= @cohort.student_roster_table_headers.to_json %>' :items='<%= @cohort.student_roster_table_items.to_json %>'/>
        </div>
      </div>
    </div>
  </div>
</div>
