<div class="border-b-2 border-b-violet-700  mt-8 py-4 px-4 ">
  <div>
    <h3>Cohort <%=@cohort.name ||= @cohort.id%></h3>
    <div class="ml-4 mt-2">
      <p class= "text-gray-500"><%=@cohort.enrollments.count%> students</p>
      <p class="text-gray-500"><%=@cohort.courses.count%> courses</p>
    </div>
  </div>
  <div class="flex mt-12 space-x-2">
    <%= link_to "Edit", edit_cohort_path(@cohort), class: 'btn btn-primary'%>
    <%= link_to "Back", cohorts_path, class: 'btn btn-secondary'%>
  </div>
</div>
<div class="mt-8 px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Student Roster</h1>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      <%= link_to 'Add student', new_cohort_student_profile_path(@cohort), class: "inline-flex items-center justify-center rounded-md border border-transparent bg-violet-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2 sm:w-auto" %>
    </div>
  </div>
  <div class="mt-8" id="vue-chart">
    <easy-table :headers='<%= @cohort.student_roster_table_headers.to_json %>' :items='<%= @cohort.student_roster_table_items.to_json %>'/>
    </div>
  </div>
