<% content_for :form_layout do %>
  <h3 class="mb-5">Sign up</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :name,class: "label #{'error_label' if resource.errors.include?(:first_name)}" %>
      <%= f.text_field :first_name, placeholder: 'Bob', class: "input #{'error' if resource.errors.include?(:first_name)}" %>
      <% if resource.errors.include?(:first_name) %>
        <% resource.errors[:first_name].each do |err| %>
          <p class="text-xs text-red-600"><%= err.capitalize %></p>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :last_name, class: "label #{'error_label' if resource.errors.include?(:last_name)}" %>
      <%= f.text_field :last_name, class: "input #{'error' if resource.errors.include?(:last_name)}", placeholder: 'Dylan' %>
      <% if resource.errors.include?(:last_name) %>
        <% resource.errors[:last_name].each do |err| %>
          <p class="text-xs text-red-600"><%= err.capitalize %></p>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :email, class: "label #{'error_label' if resource.errors.include?(:email)}" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input #{'error' if resource.errors.include?(:email)}" %>
      <% if resource.errors.include?(:email) %>
        <% resource.errors[:email].each do |err| %>
          <p class="text-xs text-red-600"><%= err.capitalize %></p>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :password, class: "label #{'error_label' if resource.errors.include?(:password)}" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "input #{'error' if resource.errors.include?(:password)}" %>
      <% if @minimum_password_length %>
        <em class="<%= 'error_label' if resource.errors.include?(:password) %>">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <% if resource.errors.include?(:password) %>
        <% resource.errors[:password].each do |err| %>
          <p class="text-xs text-red-600"><%= err.capitalize %></p>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, class: "label #{'error_label' if resource.errors.include?(:password_confirmation)}" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input #{'error' if resource.errors.include?(:password_confirmation)}" %>
      <% if resource.errors.include?(:password_confirmation) %>
        <% resource.errors[:password_confirmation].each do |err| %>
          <p class="text-xs text-red-600"><%= err.capitalize %></p>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= f.submit "Sign up", class: "btn btn-primary block w-full" %>
    </div>
  <% end %>
  <hr class="my-5" />
  <%= render "devise/shared/links" %>
<% end %>
<%= render "devise/shared/form-layout" %>
