<div class="border-b-2 border-b-violet-700  mt-8 py-4 px-4">
  <div>
    <div class="flex">
      <h3><%=@syllabus.title%></h3>
      <%= button_to "Delete", syllabus_path(@syllabus), method: :delete, class: 'ml-2 text-red-400 text-xs' %>
    </div>
    <div class="ml-4 mt-4 flex justify-between">
      <div class="flex space-x-8">
        <div>
          <p class="text-gray-500"><%=@syllabus.subject.name%></p>
          <p class="text-gray-500"><%=@syllabus.courses.count%> courses</p>
        </div>
        <div>
          <p class= "text-gray-500"><%=@syllabus.units.count%> units</p>
          <p class="text-gray-500"><%=@syllabus.assessments.count%> assessments</p>
        </div>
      </div>
      <div class="flex mt-4 space-x-2">
        <%= link_to "Edit this syllabus", edit_syllabus_path(@syllabus), class: 'btn btn-primary'%>
        <%= link_to "View all syllabuses", syllabuses_path, class: 'btn btn-secondary'%>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-between">
  <h2 class="my-4">Syllabus Outline</h2>
  <div class="flex space-x-5">
    <p class="text-sm font-bold underline">Topic <br>
      weight</p>
    <p class="text-sm font-bold underline">Unit <br>
      weight</p>
    <p class="text-sm font-bold underline">Syllabus <br>
      weight</p>
  </div>
</div>
<% @syllabus.main_units.each do |main_unit| %>
  <div class="space-y-2">
    <div class="flex justify-between mb-4">
      <%= link_to unit_path(main_unit) do %>
        <h2><%=main_unit.title%></h2>
      <% end %>
      <span class="text-gray-500">(<%= (main_unit.weight * 100).round %>%)</span>
    </div>
    <% main_unit.sections.each do |section| %>
      <div class="flex justify-between">
        <%= link_to unit_path(section) do %>
          <h3 class="ml-4 text-gray-600 font-semibold"><%=section.title %></h3>
        <% end %>
        <span class="text-gray-500 mr-16">(<%= (section.weight * 100).round(1) %>%)</span>
      </div>
      <% section.assessments.each do |assessment| %>
        <div class="flex justify-between">
          <%= link_to assessment_path(assessment) do %>
            <h4 class="ml-8 text-gray-500 font-semibold"><%=assessment.title %></h4>
          <% end %>
          <span class="text-gray-500 mr-32">(<%= (assessment.weight * 100).round(1) %>%)</span>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= link_to 'Add unit', new_syllabus_unit_path(@syllabus), class: "btn btn-primary mt-12" %>
