<div class="h-screen sticky top-0 flex flex-col justify-between bg-violet-700 w-80 py-4 px-8">
  <div class="flex flex-col">
    <header>
      <h2 class='font-semibold tracking-wide text-white'>Head<span class="font-semibold	 tracking-wide text-orange-500">Master</span></h2>
      <%# Search bar %>
      <div class="flex  mt-4">
        <div class="flex flex-row items-center justify-between">
          <div class="relative items-center">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-1">
              <svg class="text-white h-6 w-6 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g fill="none">
                  <path d="M21 21l-3.5-3.5m2.5-6a8.5 8.5 0 1 1-17 0 8.5 8.5 0 0 1 17 0z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                </g>
              </svg>
            </div>
            <input class="bg-violet-600 placeholder:text-white placeholder:text-base placeholder:font-semi-light rounded-md py-2 pl-10" type="text" placeholder="Search">
          </div>
        </div>
      </div>
    </header>
    <nav class="flex flex-col mt-8">
      <%= link_to '#', class: "text-violet-100 hover:bg-violet-800 group flex items-center px-2 py-2 text-base font-medium rounded-md" do %>
        <svg class="mr-4 h-6 w-6 flex-shrink-0 text-violet-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z" />
        </svg>
        Dashboard
      <% end %>
      <%= link_to '#', class: "text-violet-100 hover:bg-violet-800 group flex items-center px-2 py-2 text-base font-medium rounded-md" do %>
        <svg class="mr-4 h-6 w-6 flex-shrink-0 text-violet-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z" />
        </svg>
        Classes
      <% end %>
      <%= link_to instruments_path , class: "text-violet-100 hover:bg-violet-800 group flex items-center px-2 py-2 text-base font-medium rounded-md" do %>
        <svg class="mr-4 h-6 w-6 flex-shrink-0 text-violet-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z" />
        </svg>
        Assessments
      <% end %>
      <%= link_to '#', class: "text-violet-100 hover:bg-violet-800 group flex items-center px-2 py-2 text-base font-medium rounded-md" do %>
        <svg class="mr-4 h-6 w-6 flex-shrink-0 text-violet-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z" />
        </svg>
        Cohorts
      <% end %>
      <%= link_to '#', class: "text-violet-100 hover:bg-violet-800 group flex items-center px-2 py-2 text-base font-medium rounded-md" do %>
        <svg class="mr-4 h-6 w-6 flex-shrink-0 text-violet-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z" />
        </svg>
        Messages
      <% end %>
    </nav>
  </div>
  <div class="flex-shrink-0 flex border-t border-violet-700 p-4">
    <a href="#" class="flex-shrink-0 w-full group block">
      <div class="flex items-center">
        <div>
          <img class="inline-block h-9 w-9 rounded-full" src="https://images.unsplash.com/photo-1517841900229-3d87e9e765f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-white">
            John Doe
          </p>
          <p class="text-xs font-medium text-violet-300 group-hover:text-white">
            View profile
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
