<div class="mx-auto">
  <h1>Edit Course</h1>
  <%= simple_form_for @course do |f| %>
    <%= render "shared/error_messages", resource: f.object %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :start_date%>
    <%= f.input :cohort_id, collection: Cohort.all%>
    <%= f.input :syllabus_id, collection: Syllabus.all %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
