<div id="vue-chart">
  <div class="my-4 py-4 px-4 ">
    <div class="flex justify-between mb-10">
      <h3 class><%=@course.title%></h3>
      <div class="">
        <drop-down :courses="<%= @courses.to_json %>" :current="<%= @courses.find_index({id: @course.id, title: @course.title})%>"></drop-down>
      </div>
    </div>
    <div  class="grid grid-cols-5 gap-2" >
      <div class="col-span-2 w-11/12 mx-auto">
        <div class="mx-auto  space-y-6 h-auto p-4 border-2 shadow-md shadow-gray-300 border-gray-200 rounded-lg">
          <h4 class="font-bold text-lg -mb-2 ">Achievement Groups</h4>
          <% if @achievement_groups.empty? || @achievement_groups.nil?%>
            <doughnut-chart class="!-mt-0" ></doughnut-chart>
          <% else %>
            <doughnut-chart class="!-mt-0" :prop-data= "<%= @achievement_groups %>"></doughnut-chart>
          <% end %>
          <hr class="!mt-2">
          <div class="flex flex-row-reverse ">
            <%= link_to "View all data", '#course-data-table', class:"btn btn-secondary" %>
          </div>
        </div>
      </div>
      <div class="col-span-3 ">
        <div class="bg-white  border-2 shadow-md shadow-gray-300 border-gray-200 rounded-lg px-8 pt-4 pb-8">
          <h4 class="font-bold text-lg mb-4 pb-2 border-gray-200"> Class Performance</h3>
          <% if @chart_data.empty? %>
            <line-chart ></line-chart>
          <% else %>
            <line-chart :prop-data= "<%= @chart_data %>"></line-chart>
          <% end %>
        </div>
      </div>
      <hr class="col-span-5 my-6">
      <div class="col-span-5" id="course-data-table">
        <easy-table :headers='<%= @headers.to_json %>' :items='<%= @student_row_items.to_json %>' alternating></easy-table>
      </div>
    </div>
    <div class="flex flex-col">
      <h2>Course Outline</h2>
      <% @course.syllabus.main_units.each.each do |unit| %>
        <div class="ml-4 mb-6">
          <h3 class="mb-2"><%= unit.title %><span class="text-gray-400 text-sm align-text-top">(<%= (unit.weight * 100).round %>%)</span></h3>
          <% unit.sections.each do |section| %>
            <div class="ml-4 mb-6">
              <h4 class="mb-2"><%= section.title %><span class="text-gray-400 text-sm align-text-top">(<%= (section.weight * 100).round %>%)</span></h4>
              <% section.assessments.each_with_index do |assessment, i| %>
                <div class="h-20 p-2  ml-4 flex justify-between <%= i.even? ? 'bg-violet-50 hover:bg-violet-100' : 'hover:bg-gray-100'  %> ">
                  <%= link_to assessment_path do %>
                    <div >
                      <h5 class="text-base font-semibold"><%= assessment.title %> <span class="text-gray-400 text-xs align-text-top">(<%= (assessment.weight * 100).round %>%)</span></h5>
                      <p class="ml-2 text-sm text-gray-600"><%= assessment.description.truncate(120) %></p>
                    </div>
                  <% end %>
                  <div class="ml-40 min-w-max flex flex-col justify-center">
                    <%= link_to "Add grades", add_grades_to_assessment_path(@course, assessment), class: "btn btn-secondary "  %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
